<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!-- Interpolation Syntax : Interpolation refers to embedding expressions into marked up text.
        Tags :
        1)<%= %> Outputs the value into the template (HTML escaped)
    -->

    <h1>This is the home page 2+3</h1>
    <h3><%= 2+3 %></h3>
    <h3><%= "college".toUpperCase() %></h3>
    <h3><%= ["hello","bjn","nasmaste"] %></h3>
    <h3>Show the 0th index value:<%= ["hello","bjn","nasmaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ipsum, possimus rem placeat quidem quia debitis sapiente omnis sequi quibusdam, error quas harum similique fugit quisquam? Quam maiores similique nesciunt voluptas minus et totam tempore? Sapiente dolore aperiam quaerat. Totam voluptatem nemo facilis maiores culpa molestiae, fugit obcaecati suscipit tempore.</p>    
</body>
</html>